
.home_header{
  font-size: 25pt;
  text-align: center;
  height: 700px;
  justify-content: center;
  }

  .api {
    font-size: 25pt;
    text-align: center;
    height: 700px;
    justify-content: center;
  }
